{% extends 'VorterixBackendBundle::layout.html.twig' %}
{% block title %}Vorterix :: Top Post{% endblock %}
{% block section_title %}Vorterix :: Top Post{% endblock %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/vorterixbackend/css/uploadify/uploadify.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/vorterixbackend/css/top.css') }}" type="text/css" />
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/vorterixbackend/js/uploadify/jquery.uploadify.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/vorterixbackend/js/vtx_main.js') }}"></script>
    <script type="text/javascript">
    $(function(){
        //Image gallery upload
        $('#file_upload').uploadify({
            'auto'        : false,
            'swf'         : '{{ asset('bundles/vorterixbackend/swf/uploadify.swf') }}',
            'uploader'    : '{{ url('VorterixBackendBundle_ajupload') }}',
            'fileObjName' : 'the_file',
            'fileTypeExts' : '*.jpg; *.jpeg; *.png; *.gif',
            'multi'       : true,
            'buttonText' : 'Browse',
            'formData'    : { 'type' : 'temp' },
            'onUploadSuccess' : function(file, data,response) {
                var topTitle = $("#top_title").val();
                var topDesc  = $("#top_description").val();
                $("#top_title").val('');
                $("#top_description").val('');
                var order = $('.image-module').size() + 1;
                
                $("#images-list").append('<div class="image-module">'+
                                         '<a href="{{ url('VorterixBackendBundle_removeTempImage') }}/'+data+'" class="remove-element"></a>'+
                                         '<img src="{{ asset('uploads/temp/') }}' + data +'" width="100" />'+
                                         '<div class="top-container">'+
                                         '<input type="text" class="input-title" name="top-titles[]" value="'+topTitle+'" />' +
                                         '<input type="hidden" name="top-images[]" value="'+data+'" />' +
                                         '<textarea name="top-descriptions[]" class="form-control textarea" rows="3" >'+topDesc+'</textarea>'+
                                         '<input type="text" class="input-order" name="top-order[]" value="'+order+'" />' +
                                         '</div></div>');
            }
        });
        
        //Removes video cover before/after adding it to images list.
        $("#images-list").on("click", ".remove-element", function(e){
            e.preventDefault();
            var cover_name = $(this).attr('href');
            removeSlow($(this).parents('.image-module'));
            $.ajax({
                type: 'post',
                url: '{{ url('VorterixBackendBundle_removeImage') }}',
                data: { 'filename' : cover_name, 'type' : 'gallery' },
                success: function(file, data,response){          
                        
                }
            });
        });
        
        //Moves uploaded video cover & chosen video path to images list.
        $("#add-video").click(function(e){
            e.preventDefault();
            var cover_name = $('#chosen-cover').val();
            var video      = $('#post_video').val();
            
            $("#images-list").append('<div class="image-module">'+
                                     '<a href="'+cover_name+'" class="remove-element"></a>'+
                                     '<img src="{{ asset('uploads/temp/') }}' + cover_name +'" width="100" />'+
                                     '<textarea name="description-video-gallery[]" class="form-control" rows="3" placeholder="Descripcion"></textarea>'+
                                     '<input name="cover-video-gallery[]" type="hidden" value="'+cover_name+'" />'+
                                     '<input name="name-video-gallery[]" class="form-control" type="text" readOnly value="'+video+'" />' +
                                     '</div>');

            $('#uploaded-image').html('');
            $('#video-upload-container').toggle();
        });
        
        
        $('#file_tree').fileTree({ root: '/', script:'{{ url('VorterixBackendBundle_FileTree') }}' }, function(file) { 
        $('#post_video').val(file)
    });
    });
    </script>
{% endblock %}
{% block content %}
    <form name="post_creation" action="{{ url('VorterixBackendBundle_top_save') }}" method="post">
    <div class="col-md-8">
        <div class="box box-solid box-danger">
            <div class="box-header">
                <h3 class="box-title">Top Post</h3>
            </div>
            <div class="box-body">
                <input type="text" name="top-name" id="gallery-name" class="form-control input-lg" placeholder="Nombre Top Post" /><br />
            </div>
        </div>
    </div>
    
     <div class="col-md-4">
        <div id="save-gallery" class="box box-solid box-danger">
            <div class="box-header"></div>
            <div id="control-buttons" class="box-body">
                <div class="form-group">
                    <button class="btn btn-success btn-lg">Guardar Tops</button>
                </div>
            </div>
        </div>  
    </div>
    
    <div class="col-md-8">
        <div class="box box-solid box-danger">
            <div class="box-header">
                <h3 class="box-title">Agregar Top Post</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <input class="form-control input-lg" id="top_title" name="top_title" type="text" placeholder="Titulo" />
                </div>
                <div class="form-group">
                    <textarea class="form-control input-lg" id="top_description" name="top_description" rows="3" placeholder="Descripcion"></textarea>
                </div>
                <div class="image-upload-container">
                    <div id="queue"></div>
                    <input id="file_upload" name="file_upload" type="file" multiple="true">
                    <a href="javascript:$('#file_upload').uploadify('upload','*')">Subir Archivos</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-8">
        <div class="box box-solid box-danger">
            <div class="box-header">
                <h3 class="box-title">Agregue una descripcion a cada imagen</h3>
            </div>
            <div id="images-list" class="box-body">
                
            </div>
        </div>
    </div> 
</form>
{% endblock %}
