{% extends 'VorterixBackendBundle::layout.html.twig' %}

{% block title %}Vorterix :: Posts{% endblock %}
{% block section_title %}Vorterix :: Posts :: New{% endblock %}
{% block content %}
    
{% if success_post is defined and success_post %}
<div class="alert alert-success alert-dismissable">
    <i class="fa fa-check"></i>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <b>Perfecto!</b> Tu nuevo post se creo exitosamente.
</div>
{% endif %}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Listado de Notas</h3>
                <div class="box-tools">
                    <div class="input-group">
                        <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search"/>
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th style="width:40%;">Copete</th>
                        <th>Programa</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    {% for post in posts %}
                    <tr>
                        <td>{{ post.id }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.shortDescription }}</td>
                        <td>{{ post.category.name }}</td>
                        <td>
                            {% if post.status == 1 %}
                                <span class="label label-success">Publicado</span>
                            {% else %}
                                <span class="label label-warning">Borrador</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">Action</button>
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ url('VorterixBackendBundle_post_edit') }}/{{ post.id }}">Editar</a></li>
                                    <li><a href="{{ url('VorterixBackendBundle_post_delete') }}/{{ post.id }}">Eliminar</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
{% endblock %}
