{% extends 'VorterixBackendBundle::layout.html.twig' %}

{% block title %}Vorterix :: Posts{% endblock %}
{% block section_title %}Vorterix :: Posts{% endblock %}
{% block javascripts %}
{{parent()}} 
<script type="text/javascript">
$(function() {
    
    function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires="+d.toUTCString();
    document.cookie = cname + "=" + cvalue + "; " + expires;
}

function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) != -1) return c.substring(name.length, c.length);
    }
    return "";
}
    
    var table = $('#list-table').dataTable();
    table.fnSort( [ [0,'desc'] ] );
    
    
    $('#list-table_length select').change(function(){
       
            setCookie('postsRecordsPage', $(this).val(), 365);
            table._fnCreateCookie();
    });
    
    if(getCookie('postsRecordsPage'))
       var records = getCookie('postsRecordsPage');
    
    if(records)
        $('#list-table_length select option[value='+records+']').attr('selected','selected');
    
});
</script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Listado de Posts</h3>
                <div class="box-tools">
                    <div class="input-group">                   
                        <div class="input-group-btn">
                            <a href="{{ url('VorterixBackendBundle_post_new') }}" class="btn btn-warning pull-right">Agregar Post</a>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="list-table" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th style="width:20%;">Titulo</th>
                        <th style="width:40%;">Copete</th>
                        <th>Programa</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    {% for post in posts %}
                        <tr>
                        <td>{{ post.id }}</td>
                        <td><a href="{{ url('VorterixBackendBundle_post_edit') }}/{{ post.id }}">{{ post.title }}</a></td>
                        <td><a href="{{ url('VorterixBackendBundle_post_edit') }}/{{ post.id }}">{{ post.shortDescription }}</a></td>
                        <td>{% if post.category is not null %}{{ post.category.name }}{% endif %}</td>
                        <td>
                            {% if post.status == 1 %}
                                <span class="label label-success">Publicado</span>
                            {% else %}
                                <span class="label label-warning">Borrador</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">Action</button>
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ url('VorterixBackendBundle_post_delete') }}/{{ post.id }}">Eliminar</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
{% endblock %}
