{% extends 'VorterixBackendBundle::layout.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <link rel="stylesheet" href="{{ asset('bundles/vorterixbackend/css/jquery.tagit.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/vorterixbackend/css/uploadify/uploadify.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/vorterixbackend/css/jquery-filetree/jqueryFileTree.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/vorterixbackend/css/template/daterangepicker/daterangepicker-bs3.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/vorterixbackend/css/template/timepicker/bootstrap-timepicker.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/vorterixbackend/css/styles.css') }}" type="text/css" /> 
    <link rel="stylesheet" href="{{ asset('bundles/vorterixbackend/css/picedit/css/font.css') }}" type="text/css" /> 
    <link rel="stylesheet" href="{{ asset('bundles/vorterixbackend/css/picedit/css/styles.css') }}" type="text/css" /> 
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/vorterixbackend/js/template/plugins/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('bundles/vorterixbackend/js/uploadify/jquery.uploadify.min.js') }}"></script> 
    <script type="text/javascript" src="{{ asset('bundles/vorterixbackend/js/tag-it.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/vorterixbackend/js/jquery-filetree/jquery.easing.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/vorterixbackend/js/jquery-filetree/jqueryFileTree.js') }}"></script> 
    <script src="{{ asset('bundles/vorterixbackend/js/template/plugins/input-mask/jquery.inputmask.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vorterixbackend/js/template/plugins/input-mask/jquery.inputmask.date.extensions.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vorterixbackend/js/template/plugins/input-mask/jquery.inputmask.extensions.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vorterixbackend/js/template/plugins/daterangepicker/daterangepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vorterixbackend/js/template/plugins/timepicker/bootstrap-timepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/vorterixbackend/js/picedit.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace('editor1');
    //bootstrap WYSIHTML5 - text editor
    //$(".textarea").wysihtml5();
    $("#myTags").tagit({tagLimit: 5, availableTags: [{% for tag in tags %}"{{ tag.name }}"{% if loop.index < loop.length %},{% endif %}{% endfor %}]});
     
    //Executes an ajax for removing a file.
    $('#cover-image-choosen').on('click','#removeCover',function(e){
         e.preventDefault();
        if($('#post_cover').val() != "")
             var filename = $('#post_cover').val();
 
        $.ajax({
            type: 'post',
            url: '{{ url('VorterixBackendBundle_removeImage') }}',
            data: { 'filename': filename, 'type':'post' },
            success: function(result){
                if(result == '200'){
                    $('#cover-image-choosen').html('');
                    $('#choose-cover').toggle();
                }
                
            }
        });
    });

    $('#file_tree').fileTree({ root: '/', script:'{{ url('VorterixBackendBundle_FileTree') }}' }, function(file) { 
        $('#post_video').val(file)
    });

    $('#save-draft').click(function(e){
        e.preventDefault();
        $('#post_status').val('draft');
        $('form').submit();
    });

    //Datemask dd/mm/yyyy
    $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
    //Datemask2 mm/dd/yyyy
    $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
    //Money Euro
    $("[data-mask]").inputmask();

    //Date range picker
    $('#reservation').daterangepicker();
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
    //Date range as a button
    $('#daterange-btn').daterangepicker(
            {
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                },
                startDate: moment().subtract('days', 29),
                endDate: moment()
            },
    function(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
    );

    //Timepicker
    $(".timepicker").timepicker({
        showInputs: false
    });
    
   $('input[name=post_type]').click(function(){
       var type = $(this).val();
       
       if(type === 'category'){
           $('#categoryList').removeClass('hidden');
           if(!$('#sectionList').hasClass('hidden'))
               $('#sectionList').addClass('hidden');
       }else{
           $('#sectionList').removeClass('hidden');
           if(!$('#categoryList').hasClass('hidden'))
               $('#categoryList').addClass('hidden');
       }
   });
    
    $('#top-table').dataTable();
    
    $('#choose-cover').click(function(e){
         e.preventDefault();
         
         $('#overlay').dialog({  
             width:'auto', 
             resizable: true,
             close: function( event, ui ) {
                /*var d = new Date();
                var time = d.getTime();
                var src = $('#post_cover_image').attr('src');
 
                if(typeof src !== 'undefined' ){
                    $('#post_cover_image').attr('src',src+'?'+time);
                    $('#cover-image-choosen').html('<a href="#" id="removeCover">Eliminar</a><img src="'+ src +'?'+time+'" />');            
                }*/
            } 
        });
     });
  
    $('.picedit_box').picEdit({
            imageUpdated: function(img){
            },
            formSubmitted: function(){
            },
            redirectUrl: false,
            defaultImage: false
    });

});
    </script>
{% endblock %}
{% block title %}Vorterix :: Posts{% endblock %}
{% block section_title %}Vorterix :: Posts{% endblock %}
{% block content %}
    <div id="overlay">
        <div class="form-group"> 
            <form name="testform" id="crop-form"  action="{{ url('VorterixBackendBundle_cropImage') }}" method="post" enctype="multipart/form-data">
<input type="text" value="test value" name="testinput">

<div style="margin:10% auto 0 auto; display: table;">

<!-- begin_picedit_box -->
<div class="picedit_box">
    <!-- Placeholder for messaging -->
    <div class="picedit_message">
    	 <span class="picedit_control ico-picedit-close" data-action="hide_messagebox"></span>
        <div></div>
    </div>
    <!-- Picedit navigation -->
    <div class="picedit_nav_box picedit_gray_gradient">
    	<div class="picedit_pos_elements"></div>
       <div class="picedit_nav_elements">
			<!-- Picedit button element begin -->
			<div class="picedit_element">
           	 <span class="picedit_control picedit_action ico-picedit-pencil" title="Pen Tool"></span>
             	 <div class="picedit_control_menu">
               	<div class="picedit_control_menu_container picedit_tooltip picedit_elm_3">
                    <label class="picedit_colors">
                      <span title="Black" class="picedit_control picedit_action picedit_black active" data-action="toggle_button" data-variable="pen_color" data-value="black"></span>
                      <span title="Red" class="picedit_control picedit_action picedit_red" data-action="toggle_button" data-variable="pen_color" data-value="red"></span>
                      <span title="Green" class="picedit_control picedit_action picedit_green" data-action="toggle_button" data-variable="pen_color" data-value="green"></span>
                    </label>
                    <label>
                    	<span class="picedit_separator"></span>
                    </label>
                    <label class="picedit_sizes">
                      <span title="Large" class="picedit_control picedit_action picedit_large" data-action="toggle_button" data-variable="pen_size" data-value="16"></span>
                      <span title="Medium" class="picedit_control picedit_action picedit_medium" data-action="toggle_button" data-variable="pen_size" data-value="8"></span>
                      <span title="Small" class="picedit_control picedit_action picedit_small" data-action="toggle_button" data-variable="pen_size" data-value="3"></span>
                    </label>
                  </div>
               </div>
           </div>
           <!-- Picedit button element end -->
			<!-- Picedit button element begin -->
			<div class="picedit_element">
				<span class="picedit_control picedit_action ico-picedit-insertpicture" title="Crop" data-action="crop_open"></span>
           </div>
           <!-- Picedit button element end -->
			<!-- Picedit button element begin -->
			<div class="picedit_element">
           	 <span class="picedit_control picedit_action ico-picedit-redo" title="Rotate"></span>
             	 <div class="picedit_control_menu">
               	<div class="picedit_control_menu_container picedit_tooltip picedit_elm_1">
                    <label>
                      <span>90° CW</span>
                      <span class="picedit_control picedit_action ico-picedit-redo" data-action="rotate_cw"></span>
                    </label>
                    <label>
                      <span>90° CCW</span>
                      <span class="picedit_control picedit_action ico-picedit-undo" data-action="rotate_ccw"></span>
                    </label>
                  </div>
               </div>
           </div>
           <!-- Picedit button element end -->
           <!-- Picedit button element begin -->
            <div class="picedit_element">
           	 <span class="picedit_control picedit_action ico-picedit-arrow-maximise" title="Resize"></span>
             	 <div class="picedit_control_menu">
               	<div class="picedit_control_menu_container picedit_tooltip picedit_elm_2">
                    <label>
						<span class="picedit_control picedit_action ico-picedit-checkmark" data-action="resize_image"></span>
						<span class="picedit_control picedit_action ico-picedit-close" data-action=""></span>
                    </label>
                    <label>
                      <span>Width (px)</span>
                      <input type="text" class="picedit_input" data-variable="resize_width" value="0">
                    </label>
                    <label class="picedit_nomargin">
                    	<span class="picedit_control ico-picedit-link" data-action="toggle_button" data-variable="resize_proportions"></span>
                    </label>
                    <label>
                      <span>Height (px)</span>
                      <input type="text" class="picedit_input" data-variable="resize_height" value="0">
                    </label>
                  </div>
               </div>
           </div>
           <!-- Picedit button element end -->
       </div>
	</div>
	<!-- Picedit canvas element -->
	<div class="picedit_canvas_box">
		<div class="picedit_painter">
			<canvas></canvas>
		</div>
		<div class="picedit_canvas">
			<canvas></canvas>
		</div>
		<div class="picedit_action_btns active">
          <div class="picedit_control ico-picedit-picture" data-action="load_image"></div>
          <div class="picedit_control ico-picedit-camera" data-action="camera_open"></div>
          <div class="center">or copy/paste image here</div>
		</div>
	</div>
	<!-- Picedit Video Box -->
	<div class="picedit_video">
    	<video autoplay></video>
		<div class="picedit_video_controls">
			<span class="picedit_control picedit_action ico-picedit-checkmark" data-action="take_photo"></span>
			<span class="picedit_control picedit_action ico-picedit-close" data-action="camera_close"></span>
		</div>
    </div>
    <!-- Picedit draggable and resizeable div to outline cropping boundaries -->
    <div class="picedit_drag_resize">
    	<div class="picedit_drag_resize_canvas"></div>
		<div class="picedit_drag_resize_box">
			<div class="picedit_drag_resize_box_corner_wrap">
           	<div class="picedit_drag_resize_box_corner"></div>
			</div>
			<div class="picedit_drag_resize_box_elements">
				<span class="picedit_control picedit_action ico-picedit-checkmark" data-action="crop_image"></span>
				<span class="picedit_control picedit_action ico-picedit-close" data-action="crop_close"></span>
			</div>
       </div>
    </div>
</div>
<!-- end_picedit_box -->


</div>

<div style="margin-top:30px; text-align: center;">
    <button id="submit-crop" type="submit">Submit</button>
</div>

</form>
        </div><!--  end form group-->
    </div><!-- end overlay -->
    
    <form name="post_creation" action="{{ url('VorterixBackendBundle_post_save') }}" method="post">
    
    <input type="hidden" name="post_status" id="post_status" />
    <input type="hidden" name="post_cover" id="post_cover" />
    <div class="col-md-8">
        <div class="box box-solid box-success">
            <div class="box-header">
                <h3 class="box-title">Titulos</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <input class="form-control input-lg" name="post_pretitle" type="text" placeholder="Pretitulo">
                </div>
                <div class="form-group">
                    <input class="form-control input-lg" name="post_title" type="text" placeholder="Titulo">
                </div>
                <div class="form-group">
                    <textarea class="form-control input-lg" name="post_short_description" rows="3" placeholder="Copete"></textarea>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-12'>
                <div class='box box-solid box-success'>
                    <div class='box-header'>
                        <h3 class='box-title'>Galeria de Imagenes</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <label>Elige las galer&iacute;as que quieras adjuntar al post (Ctrl para seleccionar varias)</label>
                            <select multiple="" name="post_galleries[]" class="form-control">
                                {% for gallery in galleries %}
                                <option value="{{ gallery.id }}">{{ gallery.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="topList" class="form-group">
            {% render url('VorterixBackendBundle_top_list') %}
        </div>
                     
        <div class='row'>
            <div class='col-md-12'>
                <div class='box box-solid box-success'>
                    <div class='box-header'>
                        <h3 class='box-title'>Descripci&oacute;n</h3>
                    </div><!-- /.box-header -->
                    <div class='box-body pad'>
                            <textarea id="editor1" name="post_description" rows="10" cols="80">
                            </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="box box-success">
            <div class="box-header">  
            </div>
            <div class="box-body">
                <div class="form-group" style="text-align: center;">                  
                    <label>Programa
                        <input type="radio" name="post_type" value="category" class="minimal-red" checked/>
                    </label>&nbsp;&nbsp;&nbsp;
                    <label>Seccion
                        <input type="radio" name="post_type" value="section" class="minimal-red"/>
                    </label>
                </div>
                
                <div id="categoryList" class="form-group">
                    {% render url('VorterixBackendBundle_category_list') %}
                </div>
                
                <div id="sectionList" class="form-group hidden">
                    {% render url('VorterixBackendBundle_section_list') %}
                </div>
                
                <div class="form-group">
                    <label>Etiquetas (XXXX + Enter)</label>
                    <ul id="myTags">
                        <li></li>
                    </ul>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="post_comments"/>
                            &nbsp;Comentarios Habilitados?
                        </label>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="box box-success">
            <div class="box-header"></div>
            <div class="box-body">
                <label>Programar Publicaci&oacute;n</label>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask name="publish-date"/>
                    </div><!-- /.input group -->
                </div><!-- /.form group -->
                <div class="bootstrap-timepicker">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control timepicker" name="publish-time"/>
                            <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                        </div><!-- /.input group -->
                    </div><!-- /.form group -->
                </div>
            </div>
        </div>  
        <div class="box box-success">
            <div class="box-header"></div>
            <div class="box-body">
                <div id="cover-container" class="form-group">
                    <label>Imagen Principal</label>                       
-                    <br />
-                    <button id="choose-cover" class="btn btn-default">Elegir Imagen</button>
-                    <div id="cover-image-choosen"></div>
                </div>
                <div class="form-group">
                    <label>Elija la ubicacion del video a usar como cover</label>
                    <div id="file_tree" class="vtx_tree"></div>                         
                    <br />
                    <input type="text" class="form-control" placeholder="Post video" readonly="readonly" id="post_video" name="post_video">
                </div>
            </div>
        </div>  
        <div class="box box-success">
            <div class="box-header"></div>
            <div id="control-buttons" class="box-body">
                <div class="form-group">
                    <button class="btn btn-success btn-lg">Publicar</button>
                    <button id="save-draft" class="btn btn-warning btn-lg">Guardar Borrador</button>
                </div>
            </div>
        </div>  
    </div>
 </form>
{% endblock %}