{% extends 'VorterixBackendBundle::layout.html.twig' %}
{% block title %}Vorterix :: Gallery{% endblock %}
{% block section_title %}Vorterix :: Gallery{% endblock %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/vorterixbackend/css/uploadify/uploadify.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/vorterixbackend/css/galleries.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/vorterixbackend/css/jquery-filetree/jqueryFileTree.css') }}" type="text/css" />
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/vorterixbackend/js/uploadify/jquery.uploadify.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/vorterixbackend/js/vtx_main.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/vorterixbackend/js/jquery-filetree/jquery.easing.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/vorterixbackend/js/jquery-filetree/jqueryFileTree.js') }}"></script> 
    <script type="text/javascript">
    $(function(){
        //Image gallery upload
        $('#file_upload').uploadify({
            'auto'        : false,
            'swf'         : '{{ asset('bundles/vorterixbackend/swf/uploadify.swf') }}',
            'uploader'    : '{{ url('VorterixBackendBundle_ajupload') }}',
            'fileObjName' : 'the_file',
            'fileTypeExts' : '*.jpg; *.jpeg; *.png; *.gif',
            'multi'       : true,
            'buttonText' : 'Browse',
            'formData'    : { 'type' : 'gallery' },
            'onUploadSuccess' : function(file, data,response) {
                $("#images-list").append('<div class="image-module">'+
                                         '<a href="'+data+'" class="remove-element"></a>'+
                                         '<img src="{{ asset('uploads/temp/') }}' + data +'" width="100" />'+
                                         '<input type="hidden" name="image-gallery[]" value="'+data+'" />' +
                                         '<textarea name="description-gallery[]" class="form-control" rows="3" placeholder="Descripcion"></textarea>'+
                                         '</div>');
            }
        });
    
        //Cover Video Upload.
        $('#file_upload_cover_video').uploadify({
            'auto'        : false,
            'swf'         : '{{ asset('bundles/vorterixbackend/swf/uploadify.swf') }}',
            'uploader'    : '{{ url('VorterixBackendBundle_ajupload') }}',
            'fileObjName' : 'the_file',
            'fileTypeExts' : '*.jpg; *.jpeg; *.png; *.gif',
            'multi'       : true,
            'buttonText'  : 'Browse',
            'formData'    : { 'type' : 'gallery' },
            'onUploadSuccess' : function(file, data,response) { 
                    $("#uploaded-image").append('<a href="'+data+'" class="remove-video-cover">Eliminar</a>'+
                                                '<img src="{{ asset('uploads/temp/') }}' + data +'" />'+
                                                '<input type="hidden" id="chosen-cover" name="chosen-cover" value="'+data+'" />');
            },
            'onUploadComplete': function(){
                if($('#audio').is(":checked"))
                  $('#video-upload-container').toggle();
            }
        });
        
        //Removes video cover before/after adding it to images list.
        $("#uploaded-image").on("click", ".remove-video-cover", function(e){
            e.preventDefault();
            var cover_name = $('#chosen-cover').val();

            $.ajax({
                type: 'post',
                url: '{{ url('VorterixBackendBundle_removeImage') }}',
                data: { 'filename' : cover_name, 'type' : 'gallery' },
                success: function(file, data,response){
                    $("#uploaded-image").html('');
                    $('#video-upload-container').toggle();
                }
            });
        });
        
        //Removes video cover before/after adding it to images list.
        $("#images-list").on("click", ".remove-element", function(e){
            e.preventDefault();
            var cover_name = $(this).attr('href');
            removeSlow($(this).parents('.image-module'));
            $.ajax({
                type: 'post',
                url: '{{ url('VorterixBackendBundle_removeImage') }}',
                data: { 'filename' : cover_name, 'type' : 'gallery' },
                success: function(file, data,response){          
                        
                }
            });
        });
        
        //Moves uploaded video cover & chosen video path to images list.
        $("#add-video").click(function(e){
            e.preventDefault();
            var cover_name = $('#chosen-cover').val();
            var video      = $('#post_video').val();
            
            if(!$('#audio').is(":checked")){
            $("#images-list").append('<div class="image-module">'+
                                     '<a href="'+cover_name+'" class="remove-element"></a>'+
                                     '<img src="{{ asset('uploads/temp/') }}' + cover_name +'" width="100" />'+
                                     '<textarea name="description-video-gallery[]" class="form-control" rows="3" placeholder="Descripcion"></textarea>'+
                                     '<input name="cover-video-gallery[]" type="hidden" value="'+cover_name+'" />'+
                                     '<input name="name-video-gallery[]" class="form-control" type="text" readOnly value="'+video+'" />' +
                                     '</div>');
            } else {
                
                $("#images-list").append('<div class="image-module">'+
                                     '<a href="'+cover_name+'" class="remove-element"></a>'+
                                     '<img src="{{ asset('bundles/vorterixbackend/images/vorterix.gif') }}" width="100" />'+
                                     '<textarea name="description-video-gallery[]" class="form-control" rows="3" placeholder="Descripcion"></textarea>'+
                                     '<input name="name-video-gallery[]" class="form-control" type="text" readOnly value="'+video+'" />' +
                                     '</div>');
            }
            $('#uploaded-image').html('');
            $('#video-upload-container').toggle();
        });
        
        $('#audio').click(function(){
            $('#video-upload-container').toggle();
        });
        
        $('#file_tree').fileTree({ root: '/', script:'{{ url('VorterixBackendBundle_FileTree') }}' }, function(file) { 
        $('#post_video').val(file)
    });
    });
    </script>
{% endblock %}
{% block content %}
    <form name="post_creation" action="{{ url('VorterixBackendBundle_gallery_save') }}" method="post">
    <div class="col-md-8">
        <div class="box box-solid box-danger">
            <div class="box-header">
                <h3 class="box-title">Galeria</h3>
            </div>
            <div class="box-body">
                <input type="text" name="gallery-name" id="gallery-name" class="form-control input-lg" placeholder="Nombre Galeria" /><br />
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="audio" name="audio-gallery"/>
                        Galer&iacute;a de audio?
                    </label>
                </div>
            </div>
        </div>
    </div>
    
     <div class="col-md-4">
        <div id="save-gallery" class="box box-solid box-danger">
            <div class="box-header"></div>
            <div id="control-buttons" class="box-body">
                <div class="form-group">
                    <button class="btn btn-success btn-lg">Guardar Galeria</button>
                </div>
            </div>
        </div>  
    </div>
    
    <div class="col-md-8">
        <div class="box box-solid box-danger">
            <div class="box-header">
                <h3 class="box-title">Agregar Imagenes (Ctrl + click para seleccionar varias)</h3>
            </div>
            <div class="box-body">
                <div class="image-upload-container">
                    <div id="queue"></div>
                    <input id="file_upload" name="file_upload" type="file" multiple="true">
                    <a href="javascript:$('#file_upload').uploadify('upload','*')">Subir Archivos</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-8">
        <div class="box box-solid box-danger">
            <div class="box-header">
                <h3 class="box-title">Agregar Video</h3>
            </div>
            <div class="box-body">
                <div class="alert alert-info alert-dismissable">
                    <i class="fa fa-info"></i>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <b>Atenci&oacute;n!</b> Para subir videos debe seleccionar una imagen a utilizar como cover.
                </div>
                <div class="form-group">
                    <div id="video-upload-container">
                        <div id="queue"></div>
                        <input id="file_upload_cover_video" name="file_upload" type="file" multiple="true">
                        <a href="javascript:$('#file_upload_cover_video').uploadify('upload','*')">Subir Archivos</a>
                    </div>
                </div>
                <div id="uploaded-image"></div>
                <div class="form-group">
                    <label>Elija la ubicacion del video</label>
                    <div id="file_tree" class="vtx_tree"></div>                         
                    <br />
                    <input type="text" class="form-control" placeholder="Post video" readonly="readonly" id="post_video" name="post_video"><br />
                    <button id="add-video" class="btn btn-success">Agregar Video</button>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="col-md-8">
        <div class="box box-solid box-danger">
            <div class="box-header">
                <h3 class="box-title">Agregue una descripcion a cada imagen</h3>
            </div>
            <div id="images-list" class="box-body">
                
            </div>
        </div>
    </div> 
</form>
{% endblock %}
