{% extends 'VorterixBackendBundle::layout.html.twig' %}
{% block title %}Vorterix :: Gallery{% endblock %}
{% block section_title %}Vorterix :: Gallery{% endblock %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/vorterixbackend/css/uploadify/uploadify.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/vorterixbackend/css/galleries.css') }}" type="text/css" />
{% endblock %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/vorterixbackend/js/uploadify/jquery.uploadify.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/vorterixbackend/js/vtx_main.js') }}"></script>
    <script type="text/javascript">
    $(function(){
        $('#file_upload').uploadify({
            'auto'        : false,
            'swf'         : '{{ asset('bundles/vorterixbackend/swf/uploadify.swf') }}',
            'uploader'    : '{{ url('VorterixBackendBundle_ajupload') }}',
            'fileObjName' : 'the_file',
            'fileTypeExts' : '*.jpg; *.jpeg; *.png; *.gif',
            'multi'       : true,
            'buttonText' : 'Browse',
            'onUploadSuccess' : function(file, data,response) {
                var imagesModuleActive = ($('.image-module').length == 0) ? 1 : $('.image-module').length+1;
                $("#images-list").append('<div class="image-module"><img src="{{ asset('uploads/galleries/') }}' + data +'" width="100" />'+
                                         '<input type="hidden" name="image-gallery[]" value="'+data+'" />' +
                                         '<textarea name="description-gallery[]" class="form-control" rows="3" placeholder="Descripcion"></textarea>'+
                                         '<a href="'+data+'" class="remove-image">Eliminar</a></div>');
            },
            'debug'       : false,
            'formData' : { 'type' : 'gallery' }
        });

        //Init Uploadify
        $("#uploadImgs").click(function (e) { 
            e.preventDefault(); 
            $('#file_upload').uploadifyUpload();
        });

        //Executes an ajax for removing a file.
        $("#images-list").on("click", ".remove-image", function(e){
            e.preventDefault();
            var filename = $(this).attr('href'); 
            removeSlow($(this).parent());
 
            $.ajax({
                type: 'post',
                url: '{{ url('VorterixBackendBundle_removeImageGallery') }}',
                data: { 'filename': filename, 'type': 'gallery' },
                success: function(result){   
                }
            });
        });
    });
    </script>
{% endblock %}
{% block content %}
    <form name="post_creation" action="{{ url('VorterixBackendBundle_gallery_save') }}" method="post">
    <div class="col-md-8">
        <div class="box box-solid box-danger">
            <div class="box-header">
                <h3 class="box-title">Galeria</h3>
            </div>
            <div class="box-body">
                <input type="text" name="gallery-name" id="gallery-name" class="form-control input-lg" placeholder="Nombre Galeria" /><br />
            </div>
        </div>
    </div>
    
     <div class="col-md-4">
        <div id="save-gallery" class="box box-solid box-danger">
            <div class="box-header"></div>
            <div id="control-buttons" class="box-body">
                <div class="form-group">
                    <button class="btn btn-success btn-lg">Guardar Galeria</button>
                </div>
            </div>
        </div>  
    </div>
    
    <div class="col-md-8">
        <div class="box box-solid box-danger">
            <div class="box-header">
                <h3 class="box-title">Seleccione las imagenes (Ctrl + click para seleccionar varias)</h3>
            </div>
            <div class="box-body">
                <div class="image-upload-container">
                    <div id="queue"></div>
                    <input id="file_upload" name="file_upload" type="file" multiple="true">
                    <a href="javascript:$('#file_upload').uploadify('upload','*')">Subir Archivos</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-8">
        <div class="box box-solid box-danger">
            <div class="box-header">
                <h3 class="box-title">Agregue una descripcion a cada imagen</h3>
            </div>
            <div id="images-list" class="box-body">
                
            </div>
        </div>
    </div> 
</form>
{% endblock %}
